<html>
<head>
    <title>Name</title>
</head>
<body>
        <form method="post" action="logincheck.php" enctype=""> 
            <fieldset style="width:400";>
                <legend>Login</legend>
                <table>
                    <tr>
                        <td>
                            User ID
                        </td>
                        <td>
                            <input type="text" name="ID" value="">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Password
                        </td>
                        <td>
                            <input type="password" name="password" value=""><br>
                        </td>
                    </tr>
                    <tr>
                        <td>
                        <br>
                        <input type="submit" name="signIn" value="Sign In">
                        <a href="signup.html">Register</a>
                    </td>
                    </tr>
                </table>
            </fieldset>
        </form>
</body>
</html>